@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


html {
    width: 1440px;
    height: 900px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}   

body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 94%)
}

.wrapper {
    width: 31%;
    height: 68%;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #FFFFFF; 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.picture {
    overflow: hidden;
    height: 30%;
    width: 100%;
    background-image: url(images/illustration-hero.svg);
    background-size: 100% 100%;
    box-shadow: rgb(136, 136, 133) 0 0 0.3rem 0rem;
}

/* .dancing_guy {
    box-shadow: rgb(136, 136, 133) 0 0 0.3rem 0rem;
    margin-bottom: 2rem; 
} */



.order_summary {
    padding: 2.3rem;
    text-align: center;
}

.page_title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 900;
    color: hsl(223, 47%, 23%)
}

.purchase_annoucement {
    font-size: 1.1rem;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    margin: 10px 10px 1.3rem 10px;
}


/* Plan/price/change */

.plan {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 2rem;
    padding: 1.3rem;
    border-radius: 0.5rem;
    background-color: hsl(225, 100%, 98%);
}

/* .plan:nth-child(3) {
    flex-direction: row;
    align-self: flex-end;
} */

.music_icon_img {
    margin-right: 1.2rem;
}

.change {
    margin-left: auto;
}

.annual_plan {
    font-weight: 700;
    color: hsl(223, 47%, 23%);
}

.price {
    color: hsl(224, 23%, 55%);
}

a {
    color: hsl(245, 75%, 52%);
}

a:active {
    text-decoration: none;
    opacity: 0.8;
    /* transition: 0s; */
}

/* buttons  */

.buttons {
    width: 100%;
}

.proceed_btn {
    width: 100%;
    margin-bottom: 1.3rem;
}

.proceed_btn_btn {
    font-size: 0.9rem;
    font-weight: 700;
    width: 100%;
    height: 3rem;
    background-color: hsl(245, 75%, 52%);
    color: #FFFFFF;
    border-radius: 0.5rem;
    border: none;
    box-shadow: rgba(136, 136, 133, 0.356) 0 0.4rem 1rem 0;
}

.proceed_btn_btn:hover {
    cursor: pointer;
}

.proceed_btn_btn:active {
    opacity: 0.8;
    cursor: pointer;
}

.cancel_btn {
    width: 100%;
    border: solid #FFFFFF 0px;
}

.cancel_btn_btn {
    font-size: 0.9rem;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    width: 100%;
    background-color: #FFFFFF;
    border: none;
}

.cancel_btn_btn:hover {
    cursor: pointer;
}

.cancel_btn_btn:active {
    cursor: pointer;
    color: hsl(223, 47%, 23%);
}